/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}
body {
  line-height: 1;
}
ol,ul {
  list-style: none;
}
blockquote,q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* custom css */

/*scrollbar*/
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #f5e6dc;
}
::-webkit-scrollbar-thumb {
  background: #9f958f; 
  border-radius: 8px;
}

/*cursor*/
html {
  background-color: #fff4ed;
  cursor: url("gallery/cursor.png"), default;
  overflow-x: hidden;
}

a:hover, button:hover { 
  cursor: url("gallery/cursor-hover.png"), default;
}

h1 {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  color: #303030;
  line-height: 125%;
  margin-bottom: 1rem;
}

h2 {
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height:150%;
  color: #303030;
}

p {
  font-family: "Overpass", sans-serif;
  font-weight: 350;
  font-size: 20px;
  line-height: 150%;
  color: #303030;
  margin-bottom:1rem;
}

p a{
  text-decoration: underline;
}

footer{
  padding-top:200px;
  padding-bottom:2rem;
  font-family: "Unbounded", sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #7a7a7a;
  text-align: center;
  line-height: 150%;
  background: url("gallery/footer.webp");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100vw;
}

main {
  margin:2rem;
}

/*landing page*/
div.mobile {
  display: none;
}

div.welcome {
  width: 100vw;
  height: 20vw;
  background: url("gallery/homebgtop.webp");
  background-repeat: no-repeat;
  background-size:100vw;
}

div.welcome h1 {
  position: relative;
  top: 35%;
  left: 25%;
}

div.gallery {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}

div.filters {
  background-color: #fff4ed;
  padding-bottom:1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  top:0;
  position:sticky;
  z-index: 1;
}

.filters h5{
  margin-top:1rem;
  margin-right:1rem;
}

figure {
  padding: 1rem;
  max-width: 50%;
  box-sizing: border-box;
  transition: transform .5s;
  display:block;
}

figure img {
  width: 100%;
  height: auto;
  border-radius: 50px;
}

/*caption style*/
h5 {
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height:225%;
  color: #303030;
}

figure:hover {
  transform: scale(.95);
  font-style: italic;
}

div.about {
  width:60%;
  margin:auto;
  margin-top: 5rem;
  display:flex;
  justify-content: center;
}

div.about div {
  width:70%;
  padding-left:3rem;
}

div.about img {
  width:30%;
  height: auto;
  object-fit: contain;
}

button {
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  background-color: #fff4ed;
  color: #303030;
  text-align: center;
  border: 2px solid #303030;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  margin: 1rem 1rem 0 0;
  transition: transform .5s;
}

button.toggle {
  align: center;
}

button:active {
  background-color: #303030;
  color: #fff4ed;
}

button:hover {
  transform: scale(.95);
}

a {
  text-decoration: none;
  color: #303030;
}

/*project pages*/

/*title*/
nav {
  position: fixed;
  left: 0px;
  top: 0px;
}

nav img {
  width: 30px;
  height: auto;
  margin: 2rem 2rem 0.5rem 2rem;
}

div.hero img {
  width:100%;
  height: auto;
  border-bottom-left-radius:75px;
  border-bottom-right-radius:75px;
}

div.title {
  width:80%;
  margin:auto;
  margin-top:3rem;
}

div.title_desc {
  display:flex;
  width:100%;
}

div.title p {
  margin-right: 3rem;
  width: 50%;
}

h3{
  font-family: "Unbounded", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height:225%;
  color: #303030;
}

/*project content*/
div.project {
  width:80%;
  margin:auto;
  margin-top:5rem;
}

h4 {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: #303030;
  margin-top:3rem;
  margin-bottom:1rem;
  text-align: right;
  margin-right:62%;
}

div.project p{
  margin-left:40%;
}

div.project img{
  width:100%;
  height:auto;
  margin-top:1rem;
  margin-bottom:1rem;
  border: 2px solid #9f9790;
  border-radius: 25px;
}

div.video {
  margin-top:2rem;
  margin-bottom: 2rem;
}

div.video iframe {
  width:100%;
  border: 2px solid #707070;
  border-radius: 25px;
}

/*two column grid*/
div.project_gallery_2 { 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  gap: 25px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div.project_gallery_2 img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom:0;
}

/*3 column grid*/
div.project_gallery_3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  gap: 25px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

div.project_gallery_3 img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 0;
}

/*4 column grid*/
div.project_gallery_4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  gap: 6px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

div.project_gallery_4 img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 0;
}

/*one column grid lol????*/
img.wide {
  grid-column: span 2 / auto;
}



/*mobile layout*/
@media screen and (max-width:600px) {
  div.welcome{
    display:none;
  }

  div.mobile {
    display: block;
    padding: 3rem;
  }

  nav img {
    width: 30px;
    height: auto;
    margin: 1rem;
  }

  div.filters{
    display:none;
  }

  div.gallery {
    width:100%;
    margin:auto;
    display: block;
    align-content: center;
  }

  figure {
    max-width: 100%;
  }

  figure img {
    border-radius: 30px;
  }

  div.about {
    display: block;
    width:100%;
  }

  div.about img {
    width:80%;
    padding-left: 3rem;
    margin-bottom: 2rem;
  }

  div.about div{
    text-align: center;
    margin: auto;
    padding: 0;
  }

  footer{
    background: none;
    padding-top: 50px;
    width:80%;
    margin:auto;
  }

  div.project {
    width:95%;
  }

  div.hero img {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  div.title {
    width:95%;
    margin-top: 1rem;
  }

  div.title_desc {
    width:100%;
    display:block;
  }

  div.title p {
    width: 100%
  }

  div.video {
    margin-top:2rem;
    margin-bottom: 2rem;
  }

  div.video iframe {
    width:100%;
    height:100%;
  }

  div.project_gallery_2{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  }

  div.project_gallery_3{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  }

}